---
import Header from './Header.astro';
import '@/styles/tailwind.css';
import '@/styles/globals.css';
import { cn } from '@/lib/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Borderlands 2 Recoded" />
    <meta name="keywords" content="Borderlands 2, Skill Calculator, Recoded, Items, Drop Sources" />
    <meta name="author" content="janghye0k" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet" />
    <title>Borderlands 2 Recoded Hub</title>
  </head>
  <body class="grid min-h-screen grid-rows-[auto_1fr]">
    <Header />
    <main class={cn('py-12', className)}>
      <slot />
    </main>
  </body>
</html>
